body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.section {
  display: flex;
  padding: 5% 10%;
}

.section .half {
  flex-basis: 48%;
  margin: auto;
}

.section:last-child {
  padding-bottom: 20%;
  padding-top: 1%;
}

.section:nth-last-child(2) {
  padding-bottom: 1%;
}

h1 {
  margin: 0;
}

@media screen and (max-width: 820px) {
  .section {
    display: block;
  }
  .section .half:last-child  {
    text-align:center;
  }
}

@media screen and (min-width: 821px) {
  .section:nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}